<div class="menu">
    <a href="/login" class="useritem">{{user}}</a>
     <a href="/logout" class="listitem">logout</a>
     <a href="/homesecret" class="listitem">Secrethome</a>
    <a href="#" class="listitem">Contact</a>
    <a href="#" class="listitem">About</a>
    <a href="/" class="listitem">Home</a>
    
    <a href="#" class="lastitem">logo</a>
</div>